html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}

div.board{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 2px;
    width: 390px;
    height: 390px;
    border: 2px solid black;
}

#squares{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    min-height: auto;
    background-color: rgb(190, 190, 190);
    border: 1px solid white;
    font-size: 100px;
}

div#squares:hover{
    background-color: rgb(153, 152, 152);
}